.container {
  width: 100%;
  margin: auto;
  font-family: sans-serif;
}

.row {
  display: flex;
}

.column-third {
  width: calc(100% / 3);
}

ul {
  display: flex;
  list-style-type: none;
}

.logo-img-container {
  width: 35%;
  display: flex;
}

.logo {
  width: 60%;
  display: inline-block;
}

.display-flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}

.item-center {
  justify-content: center;
}

.column-full {
  width: 100%;
  display: flex;
  justify-content: center;
}

label {
  border: 3px solid rgb(241, 205, 122);
  border-radius: 3px;
}

input {
  border: none;
  width: 500px;
  height: 35px;
  padding-right: 2px;
}

button {
  border: none;
  background-color: rgb(233, 115, 0);
  border-radius: 4px;
  color: white;
  width: 5.5rem;
  height: 2rem;
  font-weight: bolder;
  font-size: large;
  margin-right: 3px;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

::placeholder {
  font-size: 18px;
  padding-left: 9px;
}

.big-image {
  width: 100%;
  margin-top: 3%;
}

.text-container {
  position: absolute;
  top: 15rem;
  left: 6rem;
  color: white;
}

.button-container {
  position: absolute;
  top: 25rem;
  left: 6rem;
}

.get-started {
  border-radius: 50px;
  width: 100%;
  margin-top: 0.5rem;
}

p {
  width: 55%;
  line-height: 1.5rem;
}

h1 {
  text-align: center;
}

.column-fourth {
  width: calc(100% / 4);
}

.sub-images {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sub-images > img {
  width: 100%;
}
