.container {
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
}

.column-third {
  width: calc(100% / 3);
}

ul {
  display: flex;
  list-style-type: none;
}

.logo-img-container {
  width: 35%;
  display: flex;
}

.logo {
  width: 100%;
}

.display-flex {
  display: flex;
}

.item-center {
  justify-content: center;
}
