.container {
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
}

.column-third {
  width: calc(100% / 3);
}

ul {
  display: flex;
  list-style-type: none;
}

.logo-img-container {
  width: 35%;
  display: flex;
}

.logo {
  width: 100%;
}

.display-flex {
  display: flex;
}

.item-center {
  justify-content: center;
}

.column-full {
  width: 100%;
  display: flex;
  justify-content: center;
}

label {
  border: 3px solid rgb(241, 205, 122);
}

input {
  border: none;
  width: 400px;
}

button {
  border: none;
  padding: 5px;
  background-color: rgb(233, 115, 0);
  border-radius: 4px;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
